<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Biruni.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Biruni.Shared.Properties.Settings.dbInventoryConnectionString"
            connectionString="Data Source=(local)\sql2005;Initial Catalog=dbInventory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Biruni.Shared.Properties.Settings>
            <setting name="dbServer" serializeAs="String">
                <value>(local)\sqlexpress</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>dbInventory</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>pYxwDZ21Y+M=</value>
            </setting>
        </Biruni.Shared.Properties.Settings>
    </userSettings>
</configuration>