<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Biruni.FE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Biruni.FE.Properties.Settings>
            <setting name="visualStyle" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>dbInventory</value>
            </setting>
            <setting name="webSite" serializeAs="String">
                <value>http://www.birunilabs.com</value>
            </setting>
            <setting name="dbServer" serializeAs="String">
                <value>(local)\sqlexpress</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>sql</value>
            </setting>
        </Biruni.FE.Properties.Settings>
    </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"></supportedRuntime>
  </startup>
</configuration>
